@import url(https://fonts.googleapis.com/css?family=Nunito:200,600);

/*
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*/

html,body {
  background-color: #afa;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}